<div class="playlistCard">
    <div class="stretch">
        <img src="../images/move.png" alt="move">
        <img src="../images/stretch.png" alt="move" onclick="switchMusic3();" >
        <h2>MUSIC PLAYER <span>Now playing...</span></h2>
    </div>
    <div class="player">
        <img src="../images/covers-small.png" class="cover" alt="covers-small">
        <p class="title">When The Sky Was Open  <span>- David Bowie</span></p>
        <div class="time">
            <p class="running">1:42</p>
            <div class="progress"></div>
            <p class="total">4:07</p>
        </div>
        <div class="controls">
            <img src="../images/prev.png" class="prev" alt="prev">
            <img src="../images/play.png"  onclick="switchPlay();" class="play" alt="play">
            <img src="../images/pause.png" onclick="switchPlay();" class="play pause hide" alt="play">
            <img src="../images/next.png" class="next" alt="next">
        </div>
        <div class="options">
            <img src="../images/shuffle.png" alt="shuffle">
            <img src="../images/repeat.png" alt="repeat">
        </div>
    </div>

    <div class="options-2">
        <img src="../images/music-button.png" alt="music" onclick="switchMusic1();" onmouseover="this.src='../images/music-button-white.png';" onmouseout="this.src='../images//music-button.png';">
        <img src="../images/artist-button.png" alt="artist" onmouseover="this.src='../images/artist-button-white.png';" onmouseout="this.src='../images/artist-button.png';">
        <img src="../images/playlist-button-white.png" alt="playlist" onclick="switchMusic2();">
        <img src="../images/setting-button.png" alt="setting"  onmouseover="this.src='../images/setting-button-white.png';" onmouseout="this.src='../images/setting-button.png';">
    </div>

    <div class="detail">
        <div class="title-1">PLAYLISTS</div><div class="title-2">ARTISTS</div><div class="title-3">ANGTIGONE & DAVID BOWIE</div>
        <div class="playlist">
            <div class="song1"><img src="../images/icon-playlist.png" alt="playlist"><span class="text">Genius</span></div>
            <div class="song2"><img src="../images/icon-playlist.png" alt="playlist"><span class="text">Ajouts récents</span></div>
            <div class="song3"><img src="../images/icon-playlist.png" alt="playlist"><span class="text">Année 90</span></div>
            <div class="song4"><img src="../images/icon-playlist.png" alt="playlist"><span class="text">Rock'n'Roll</span></div>
            <div class="song5"><img src="../images/icon-playlist.png" alt="playlist"><span class="text">Intermédiaire</span></div>
            <div class="song6"><img src="../images/icon-playlist.png" alt="playlist"><span class="text">Disco Music</span></div>
            <div class="song7"><img src="../images/icon-playlist.png" alt="playlist"><span class="text">Musique classique</span></div>
        </div>
        <div class="artist">
            <div class="song1">The Offsprings</div>
            <div class="song2">The Rolling Stones</div>
            <div class="song3">Antigone</div>
            <div class="song4">David Bowie</div>
            <div class="song5">Nirvana</div>
            <div class="song6">Coldplay</div>
            <div class="song7">The Libertines</div>
        </div>
        <div class="playlist-songs">
            <div class="song1">Dead Monster - David Bowie</div><img class="song1" src="/../images/playing-icon.png" alt="playing">
            <div class="song2">Talk To God - Antigone</div><img class="song2" src="/../images/playing-icon.png" alt="playing">
            <div class="song3">Bouncy beats that move your feet</div><img class="song3" src="../images/playing-icon.png" alt="playing">
            <div class="song4">Power workout songs to pick up </div><img class="song4" src="../images/playing-icon.png" alt="playing">
            <div class="song5">Motivating lyrics that stoke</div><img class="song5" src="../images/playing-icon.png" alt="playing">
            <div class="song6">Music makeovers for any workout</div><img class="song6" src="../images/playing-icon.png" alt="playing">
            <div class="song7">Songs for stretches and asanas</div><img class="song7" src="../images/playing-icon.png" alt="playing">
        </div>
    </div>
</div>

<div class="songsCard">
    <div class="stretch">
        <img src="../images/move.png" alt="move">
        <img src="../images/stretch.png" alt="move" onclick="switchMusic3();" >
        <h2>MUSIC PLAYER <span>Now playing...</span></h2>
    </div>
    <div class="player">
        <img src="../images/covers-small.png" class="cover" alt="covers-small">
        <p class="title">Ashes to ashes <span>- David Bowie</span></p>
        <div class="time">
            <p class="running">1:42</p>
            <div class="progress"></div>
            <p class="total">4:07</p>
        </div>
        <div class="controls">
            <img src="../images/prev.png" class="prev" alt="prev">
            <img src="../images/play.png" onclick="switchPlay();" class="play" alt="play">
            <img src="../images/pause.png" onclick="switchPlay();" class="play pause hide" alt="play">
            <img src="../images/next.png" class="next" alt="next">
        </div>
        <div class="options">
            <img src="../images/shuffle.png" alt="shuffle">
            <img src="../images/repeat.png" alt="repeat">
        </div>
    </div>
    ​
    <div class="options-1">
        <img src="/../images/music-button-white.png" alt="music" onclick="switchMusic1();">
        <img src="/../images/artist-button.png" alt="artist"  onmouseover="this.src='/../images/artist-button-white.png';" onmouseout="this.src='/../images/artist-button.png';">
        <img src="/../images/playlist-button.png" alt="playlist" onclick="switchMusic2();" onmouseover="this.src='/../images/playlist-button-white.png';" onmouseout="this.src='/../images/playlist-button.png';">
        <img src="/../images/setting-button.png" alt="setting" onmouseover="this.src='/../images/setting-button-white.png';" onmouseout="this.src='/../images/setting-button.png';">
    </div>
    ​
    <div class="detail">
        <div class="title-songs">SONGS</div><div class="title-album">ALBUM</div><div class="title-duration">DURATION</div>
        <div class="list-songs">
            <div class="song-1"><img src="/../images/avatar-artist/1-the-offsprings.png" alt="playlist"><span class="style">Genius</span></div>
            <div class="song-2"><img src="/../images/avatar-artist/2-the-rolling-stones.png" alt="playlist"><span class="style">Ajouts récents</span></div>
            <div class="song-3"><img src="/../images/avatar-artist/3-antigone.png" alt="playlist"><span class="style">Année 90</span></div>
            <div class="song-4"><img src="/../images/avatar-artist/4-david-bowie.png" alt="playlist"><span class="style">Rock'n'Roll</span></div>
            <div class="song-5"><img src="/../images/avatar-artist/5-nirvana.png" alt="playlist"><span class="style">Intermédiaire</span></div>
            <div class="song-6"><img src="/../images/avatar-artist/6-coldplay.png" alt="playlist"><span class="style">Disco Music</span></div>
            <div class="song-7"><img src="/../images/avatar-artist/7-the-libertines.png" alt="playlist"><span class="style">Musique classique</span></div>
        </div>
        <div class="album">
            <div class="song-1">Conspiracy Of One</div>
            <div class="song-2">On My Way</div>
            <div class="song-3">Blue Notes</div>
            <div class="song-4">Ashes To Ashes</div>
            <div class="song-5">Smell Like Ten Spirits</div>
            <div class="song-6">Viva la Vida</div>
            <div class="song-7">Barcelona</div>
        </div>
        <div class="duration">
            <div>5:53</div><img class="song-1" src="/../images/playing-icon.png" alt="playing">
            <div>6:23</div><img class="song-2" src="/../images/playing-icon.png" alt="playing">
            <div>4:01</div><img class="song-3" src="/../images/playing-icon.png" alt="playing">
            <div>7:05</div><img class="song-4" src="/../images/playing-icon.png" alt="playing">
            <div>4:09</div><img class="song-5" src="/../images/playing-icon.png" alt="playing">
            <div>5:54</div><img class="song-6" src="/../images/playing-icon.png" alt="playing">
            <div>3:25</div><img class="song-7" src="/../images/playing-icon.png" alt="playing">
        </div>
    </div>

</div>

<div class="musicFullscreen">
    <img src="../images/move.png" alt="move">
    <h2>MUSIC PLAYER <span>Now playing...</span></h2>
    <div class="player">
        <img src="../images/covers.png" class="cover" alt="cover">
        <div class="controls">
            <img src="../images/prev.png" class="prev" alt="prev">
            <img src="../images/play.png" onclick="switchPlay();" class="play" alt="play">
            <img src="../images/next.png" class="next" alt="next">
        </div>
        <p class="title">The Dark Side Of The Moon<span> - Pink Floyd</span></p>
        <div class="time">
            <p class="running">1:42</p>
            <div class="progress"></div>
            <p class="total">4:07</p>
        </div>
    </div>
</div>

<script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script>
    $(document).ready(function(){

        $('.duration img').css('visibility', 'hidden');
        $('.list-songs > div').click(function() {

            $('.list-songs > div').css('color', '#FFF');
            $('.album > div').css('color', '#FFF');
            var song = $(this).attr('class');

            $(".list-songs > div[class='"+song+"']").css('color', '#AABA58');
            $(".album > div[class='"+song+"']").css('color', '#AABA58');

            $(".duration > img").css('visibility', 'hidden');
            $(".duration > img[class='"+song+"']").css('visibility', 'visible');

        });

        $('.playlist-songs img').css('visibility', 'hidden');
        $('.playlist > div').click(function() {

            $('.playlist > div').css('color', '#FFF');
            $('.artist> div').css('color', '#FFF');
            var song = $(this).attr('class');

            $(".playlist > div[class='"+song+"']").css('color', '#AABA58');
            $(".artist > div[class='"+song+"']").css('color', '#AABA58');

            $(".playlist-songs > img").css('visibility', 'hidden');
            $(".playlist-songs > img[class='"+song+"']").css('visibility', 'visible');

        });

        $(function () {
            $("#items").sortable({
                placeholder: "highlight",
                start: function (event, ui) {
                    ui.item.toggleClass("highlight");
                },
                stop: function (event, ui) {
                    ui.item.toggleClass("highlight");
                }
            });
            $("#items").disableSelection();
            $('#items > div').draggable( "disable" );
        });

    });

</script>
