<ul class="top_ul">
    <li><img src="../images/controls.png" alt="controls_car"></li>
    <li class=""><img src="../images/chauffage_g.png" alt="chauffage"></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>