<div class="content">
    <div class="upperPart">
        <div class="option">
            <img src="../images/close.png" alt="">
            <p>CONTROLS</p>
        </div>
        <div class="title">
            SINCE LAST CHARGE
        </div>
        <div class="info">
            <div class="informations distance">
                <div class="inside">
                    <div class="value">
                        <div class="number">11.2</div>
                        <div class="unit">Km</div>
                    </div>
                    <div class="title">Distance</div>
                </div>
            </div>
            <div class="informations totalEnergy">
                <div class="inside">
                    <div class="value">
                        <div class="number">2.3</div>
                        <div class="unit">Kwh</div>
                    </div>
                    <div class="title">Total Energy</div>
                </div>
            </div>
            <div class="informations avg">
                <div class="inside">
                    <div class="value">
                        <div class="number">291</div>
                        <div class="unit">Wh/min</div>
                    </div>
                    <div class="title">AVG. Energy</div>
                </div>
            </div>
        </div>
    </div>
</div>