<div class="content">
    <div class="upperPart">
        <div class="option">
            <img src="../images/close.png" alt="">
            <p>CONTROLS</p>
        </div>
        <div class="title">
            SINCE LAST CHARGE
        </div>
        <div class="info">
            <div class="informations distance">
                <div class="inside">
                    <div class="value">
                        <div class="number">11.2</div>
                        <div class="unit">Km</div>
                    </div>
                    <div class="title">Distance</div>
                </div>
            </div>
            <div class="informations totalEnergy">
                <div class="inside">
                    <div class="value">
                        <div class="number">2.3</div>
                        <div class="unit">Kwh</div>
                    </div>
                    <div class="title">Total Energy</div>
                </div>
            </div>
            <div class="informations avg">
                <div class="inside">
                    <div class="value">
                        <div class="number">291</div>
                        <div class="unit">Wh/min</div>
                    </div>
                    <div class="title">AVG. Energy</div>
                </div>
            </div>
        </div>
    </div>



    <div class="bottomPart">
        <div class="title">LIGHTS Headlights</div>
        <div class="lights">
            <div class="selector"></div>
            <ul>
                <li class="off">Off</li>
                <li class="parking">Parking</li>
                <li class="auto">Auto</li>
                <li class="on">On</li>
            </ul>
        </div>
        <div class="lightsType">
            <ul>
                <li class="drl"></br>DRL</li>
                <li class="fog"></br>Fog</li>
                <li class="dome"></br>Dome</li>
                <li class="ambiant"></br>Ambiant</li>
            </ul>
        </div>
        <div class="suspension">
            <div class="title">SUSPENSION</div>
                <ul>
                    <li class="vhigh">VERY HIGH</li>
                    <li class="high">HIGH</li>
                    <li class="standard active">STANDARD</li>
                    <li class="low">LOW</li>
                </ul>
        </div>
        <div class="locks">
            <div class="title">DOOR AND LOCKS</div>
            <table>
                <tr>
                    <td class="left">Truck Lock</td>
                    <td class="switch">
                        <div class="switchSpace">
                            <div class="button"></div>
                        </div>
                    </td>
                    <td class="switch">
                        <div class="switchSpace">
                            <div class="button"></div>
                        </div>
                    </td>
                    <td class="right">Front Truck Lock</td>
                </tr>
                <tr>
                    <td class="left">Left Door Lock</td>
                    <td class="switch">
                        <div class="switchSpace">
                            <div class="button"></div>
                        </div>
                    </td>
                    <td class="switch">
                        <div class="switchSpace">
                            <div class="button"></div>
                        </div>
                    </td>
                    <td class="right">Right Door Lock</td>
                </tr>
                <tr>
                    <td class="left">Roof Lock</td>
                    <td class="switch">
                        <div class="switchSpace">
                            <div class="button"></div>
                        </div>
                    </td>
                    <td class="switch">
                        <div class="switchSpace">
                            <div class="button"></div>
                        </div>
                    </td>
                    <td class="right">Charge Port Lock</td>
                </tr>
            </table>
        </div>
    </div>
</div>