<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tesla Project</title>
    <link rel="stylesheet" href="/app/css/main.css">
</head>
<body>
<div class="screen">
	<div class="header">
		<img src="/app/img/move.png" alt="move"><span class="text"><span class="medium">MUSIC PLAYER</span> Now Playing...</span>
	</div>
	<div class="title">Ashes To Ashes - David Bowie</div>
	<div class="time-bar"><span class="time-1">1:42</span><img src="/app/img/bar.png" alt="bar"><span class="time-2">4:07</span></div>
	<div class="control"><img class="change-song" src="/app/img/previous.png" alt=""><img src="/app/img/play.png" alt=""><img class="change-song" src="/app/img/next.png" alt=""></div>
	<div class="option"><img src="/app/img/random.png" alt=""><img src="/app/img/repeat.png" alt=""></div>
</div>
</body>
</html>