<div class="options">
    <img src="../images/music-button.png" alt="music" onmouseover="this.src='../images/music-button-white.png';" onmouseout="this.src='../images//music-button.png';">
    <img src="../images/artist-button.png" alt="artist" onmouseover="this.src='../images/artist-button-white.png';" onmouseout="this.src='../images/artist-button.png';">
    <img src="../images/playlist-button.png" alt="playlist" onmouseover="this.src='../images/playlist-button-white.png';" onmouseout="this.src='../images/playlist-button.png';">
    <img src="../images/setting-button-white.png" alt="setting">
</div>

<div class="detail">
    <div class="title-1">PLAYLISTS</div><div class="title-2">ARTISTS</div><div class="title-3">ANGTIGONE & DAVID BOWIE</div>
    <div class="playlist">
        <div><img src="../images/icon-playlist.png" alt="playlist"><span class="text">Genius</span></div>
        <div><img src="../images/icon-playlist.png" alt="playlist"><span class="text">Ajouts récents</span></div>
        <div><img src="../images/icon-playlist.png" alt="playlist"><span class="text">Année 90</span></div>
        <div><img src="../images/icon-playlist.png" alt="playlist"><span class="text">Rock'n'Roll</span></div>
        <div><img src="../images/icon-playlist.png" alt="playlist"><span class="text">Intermédiaire</span></div>
        <div><img src="../images/icon-playlist.png" alt="playlist"><span class="text">Disco Music</span></div>
        <div><img src="../images/icon-playlist.png" alt="playlist"><span class="text">Musique classique</span></div>
    </div>
    <div class="artist">
        <div>The Offsprings</div>
        <div>The Rolling Stones</div>
        <div>Antigone</div>
        <div>David Bowie</div>
        <div>Nirvana</div>
        <div>Coldplay</div>
        <div>The Libertines</div>
    </div>
    <div class="playlist-songs">
        <div>Dead Monster - David Bowie</div>
        <div>Talk To God - Antigone</div>
        <div>When The Sky Was Open - David Bowie</div><img src="../images/playing-icon.png" alt="playing">
    </div>
</div>

<div class="grid">
    <div class="grid-1"></div>
    <div class="grid-2"></div>
    <div class="grid-3"></div>
    <div class="grid-4"></div>
</div>
