<img src="../images/move.png" alt="move">
<h2>MUSIC PLAYER <span>Now playing...</span></h2>
<div class="player">
    <img src="../images/covers-small.png" class="cover" alt="covers-small">
    <p class="title">Ashes to ashes <span>- David Bowie</span></p>
    <div class="time">
        <p class="running">1:42</p>
        <div class="progress"></div>
        <p class="total">4:07</p>
    </div>
    <div class="controls">
        <img src="../images/prev.png" class="prev" alt="prev">
        <img src="../images/play.png" class="play" alt="play">
        <img src="../images/next.png" class="next" alt="next">
    </div>
    <div class="options">
        <img src="../images/shuffle.png" alt="shuffle">
        <img src="../images/repeat.png" alt="repeat">
    </div>
</div>

<div class="options-1">
    <img src="../images/music-button.png" alt="music" onmouseover="this.src='../images/music-button-white.png';" onmouseout="this.src='../images//music-button.png';">
    <img src="../images/artist-button.png" alt="artist" onmouseover="this.src='../images/artist-button-white.png';" onmouseout="this.src='../images/artist-button.png';">
    <img src="../images/playlist-button.png" alt="playlist" onmouseover="this.src='../images/playlist-button-white.png';" onmouseout="this.src='../images/playlist-button.png';">
    <img src="../images/setting-button-white.png" alt="setting">
</div>

<div class="detail">
    <div class="title-1">PLAYLISTS</div><div class="title-2">ARTISTS</div><div class="title-3">ANGTIGONE & DAVID BOWIE</div>
    <div class="playlist">
        <div><img src="../images/icon-playlist.png" alt="playlist"><span class="text">Genius</span></div>
        <div><img src="../images/icon-playlist.png" alt="playlist"><span class="text">Ajouts récents</span></div>
        <div><img src="../images/icon-playlist.png" alt="playlist"><span class="text">Année 90</span></div>
        <div><img src="../images/icon-playlist.png" alt="playlist"><span class="text">Rock'n'Roll</span></div>
        <div><img src="../images/icon-playlist.png" alt="playlist"><span class="text">Intermédiaire</span></div>
        <div><img src="../images/icon-playlist.png" alt="playlist"><span class="text">Disco Music</span></div>
        <div><img src="../images/icon-playlist.png" alt="playlist"><span class="text">Musique classique</span></div>
    </div>
    <div class="artist">
        <div>The Offsprings</div>
        <div>The Rolling Stones</div>
        <div>Antigone</div>
        <div>David Bowie</div>
        <div>Nirvana</div>
        <div>Coldplay</div>
        <div>The Libertines</div>
    </div>
    <div class="playlist-songs">
        <div>Dead Monster - David Bowie</div>
        <div>Talk To God - Antigone</div>
        <div>When The Sky Was Open - David Bowie</div><img src="../images/playing-icon.png" alt="playing">
    </div>
</div>
