<div class="energyCard">
    <img src="../images/move.png" alt="move" class="move">
    <h2>ENERGY <span>Last 40 miles</span></h2>
    <div class="tracker">
        <div class="blink"></div>
        <p>241<span>mi</span></p>
    </div>
    <h3>Average consumption</h3>
    <p>365 <span>Wh/mi</span></p>
    <div class="optionsEnergy">
        <img src="../images/playlist-button.png" alt="list">
        <img src="../images/chart-button.png" alt="chart">
        <img src="../images/battery-button.png" alt="battery">
        <img src="../images/setting-button.png" alt="settings">
    </div>
</div>