<div class="topbar">
    <img class="drag" src="../images/drag.png" alt="dragable">
    <img class="cancel" src="../images/cancel.png" alt="cancel">
    <h2>NAVIGATION 412 Baker Street, London, England</h2>
</div>
<div class="sideLeft">
    <div class="part flag"></div>
    <div class="part favorite"></div>
    <div class="part list"></div>
    <div class="part parameters"></div>
</div>
<div class="daynight">
    <div class="choice day"></div>
    <div class="choice night"></div>

</div>

<div class="destination">
    <div class="icone"></div>
    <p>412, BAKER ST., LONDON </p>
</div>

<div class="sideRight">
    <div class="option">
        <div class="part thirdDim">
            <img src="../images/3d.png" alt="">
            <img class="night" src="../images/3dwht.png" alt="">
            <div class="title">3D Map</div>
        </div>
        <div class="part satellite">
            <img src="../images/satellite.png" alt="">
            <img class="night" src="../images/satellitewht.png" alt="">
            <div class="title">Satellite</div>
        </div>
        <div class="part zoomIn">
            <img src="../images/plusgrey.png" alt="">
            <img class="night" src="../images/pluswht.png" alt="">
            <div class="title">Zoom In</div>
        </div>
        <div class="part zoomOut">
            <img src="../images/minusgrey.png" alt="">
            <img class="minus night" src="../images/minuswht.png" alt="">

            <div class="title">Zoom Out</div>
        </div>
    </div>
    <div class="instructionFirst">
        <div class="current">

        </div>
        <div class="distance">
            <p class="miles">0.1 miles</p>
            <p class="street">Etta Street</p>
        </div>
        <div class="direction"></div>
        <div class="step">
            <p>2</p>
        </div>
        <div class="time">
            24 sec
        </div>

    </div>
    <div class="instruction scd">
        <div class="time">
            <div class="step">
                <p>2</p>
            </div>
            <div class="timeStep">
                3 min
            </div>
        </div>
        <div class="distance">
            <p class="miles">0.1 miles</p>
            <p class="street">Etta Street</p>
        </div>
        <div class="direction"></div>
    </div>
    <div class="instruction third">
        <div class="time">
            <div class="step">
                <p>3</p>
            </div>
            <div class="timeStep">
                7 min
            </div>
        </div>
        <div class="distance">
            <p class="miles">0.1 miles</p>
            <p class="street">Etta Street</p>
        </div>
        <div class="direction"></div>
    </div>
    <div class="global">
        <div class="content">
            <div class="inside chrono">
                <img src="../images/chrone.png" alt="">
                <div class="value">0:12h</div>
            </div>
            <div class="inside distance">
                <img src="../images/arrowgrey.png" alt="">
                <div class="value">28 min</div>
            </div>
            <div class="inside arrival">
                <img src="../images/flaggrey.png" alt="">
                <div class="value">11:12 am</div>
            </div>
        </div>
    </div>
</div>