<img src="../images/waves.png" alt="music-icon">
<h2>MUSIC PLAYER <span>Now playing...</span></h2>
<div class="player">
    <img src="../images/covers.png" class="cover" alt="cover">
    <div class="controls">
        <img src="../images/prev.png" class="prev" alt="prev">
        <img src="../images/play.png" class="play" alt="play">
        <img src="../images/next.png" class="next" alt="next">
    </div>
    <p class="title">The Dark Side Of The Moon<span> - Pink Floyd</span></p>
    <div class="time">
        <p class="running">1:42</p>
        <div class="progress"></div>
        <p class="total">4:07</p>
    </div>
</div>