<img src="../images/move.png" alt="move">
<h2>MUSIC PLAYER <span>Now playing...</span></h2>
<div class="player">
    <img src="../images/covers-small.png" class="cover" alt="covers-small">
    <p class="title">Ashes to ashes <span>- David Bowie</span></p>
    <div class="time">
        <p class="running">1:42</p>
        <div class="progress"></div>
        <p class="total">4:07</p>
    </div>
    <div class="controls">
        <img src="../images/prev.png" class="prev" alt="prev">
        <img src="../images/play.png" class="play" alt="play">
        <img src="../images/next.png" class="next" alt="next">
    </div>
    <div class="options">
        <img src="../images/shuffle.png" alt="shuffle">
        <img src="../images/repeat.png" alt="repeat">
    </div>
</div>
​
<div class="options-1">
    <img src="/../images/music-button-white.png" alt="music">
    <img src="/../images/artist-button.png" alt="artist" onmouseover="this.src='/../images/artist-button-white.png';" onmouseout="this.src='/../images/artist-button.png';">
    <img src="/../images/playlist-button.png" alt="playlist" onmouseover="this.src='/../images/playlist-button-white.png';" onmouseout="this.src='/../images/playlist-button.png';">
    <img src="/../images/setting-button.png" alt="setting" onmouseover="this.src='/../images/setting-button-white.png';" onmouseout="this.src='/../images/setting-button.png';">
</div>
​
<div class="detail">
    <div class="title-songs">SONGS</div><div class="title-album">ALBUM</div><div class="title-duration">DURATION</div>
    <div class="list-songs">
        <div><img src="/../images/avatar-artist/1-the-offsprings.png" alt="playlist"><span class="style">Genius</span></div>
        <div><img src="/../images/avatar-artist/2-the-rolling-stones.png" alt="playlist"><span class="style">Ajouts récents</span></div>
        <div><img src="/../images/avatar-artist/3-antigone.png" alt="playlist"><span class="style">Année 90</span></div>
        <div><img src="/../images/avatar-artist/4-david-bowie.png" alt="playlist"><span class="style">Rock'n'Roll</span></div>
        <div><img src="/../images/avatar-artist/5-nirvana.png" alt="playlist"><span class="style">Intermédiaire</span></div>
        <div><img src="/../images/avatar-artist/6-coldplay.png" alt="playlist"><span class="style">Disco Music</span></div>
        <div><img src="/../images/avatar-artist/7-the-libertines.png" alt="playlist"><span class="style">Musique classique</span></div>
    </div>
    <div class="album">
        <div>Conspiracy Of One</div>
        <div>On My Way</div>
        <div>Blue Notes</div>
        <div>Ashes To Ashes</div>
        <div>Smell Like Ten Spirits</div>
        <div>Viva la Vida</div>
        <div>Barcelona</div>
    </div>
    <div class="duration">
        <div>5:53</div>
        <div>6:23</div>
        <div>4:01</div>
        <span>7:05</span><img src="/../images/playing-icon.png" alt="playing">
        <div>4:09</div>
        <div>5:54</div>
        <div>3:25</div>
    </div>
</div>