<img src="../images/move.png" alt="move" class="move">
<h2>ENERGY <span>Last 40 miles</span></h2>
<div class="tracker">
    <img src="../images/chartEnergy.png" alt="charts">
    <div class="blink"></div>
    <p>241 mi</p>
</div>
<div class="optionsEnergy">
    <h3>Average consumption</h3>
    <p>365 Wh/mi</p>
    <img src="../images/listIcon.png" alt="list">
    <img src="../images/chartIcon.png" alt="chart">
    <img src="../images/batteryIcon.png" alt="battery">
    <img src="../images/settingsIcon.png" alt="settings">
</div>
