<div class="partial7">
    <div class="head">
    <img src="../images/move.png" alt="move"><span class="bold">SPY MODE</span> <span>Script Datas</span>
    </div>
    <div class="bloc">
        <div class="line-1">
        <div class="script">SCRIPT</div><div class="on">ON</div><br>
        </div>
        <div class="col-1">
            <div class="xy">X&Y</div>
            <div class="place">PLACE</div>
            <div class="statut">STATUT</div>
            <div class="activated">ACTIVATED</div>

        </div>
        <div class="col-2">
            <div class="chiffre"><span class="chiffre-1">12.543 <span class="unit">Long.</spanLong.> </span><span class="chiffre-2">15.524 <span class="unit">Latt.</span></span></div>
            <div class="chiffre-3">34, Jerry St.</div>
            <div class="at-work">At Work</div>
            <div class="refresh"><img src="../images/refresh.png" alt="refresh">REFRESH</div>
        </div>
    </div>
    <div class="image">
        <img src="../images/LEGIFDELAMORT.gif" style="width: 250px;" alt="radar">
        <div class="icons">
            <img src="../images/qr-code.png" alt="qr-code">
            <img src="../images/playlist.png" alt="playlist">
            <img src="../images/gun.png" alt="gun">
            <img src="../images/setting.png" alt="setting">
        </div>
    </div>



</div>