<div class="phoneCard">
    <img src="../images/move.png" alt="move" class="move">
    <h2>PHONE <span>Favorites</span></h2>

    <img class="calling" src="../images/phone-green.png" alt="phone">

    <div class="optionsPhone">
        <img src="../images/fav-white-button.png" alt="fav">
        <img src="../images/playlist-button.png" alt="list" onclick="switchPhone();">
        <img src="../images/calls-button.png" alt="calls">
        <img src="../images/setting-button.png" alt="settings">
    </div>
</div>

<div class="tapDial">
    <div class="top_left_tile">
        <img class="h_g" src="../images/move.png" alt="move">
        <h2>PHONE <span>Dialpad</span></h2>
    </div>
    <div class="dialpad">
        <ul>
            <li>
                <p>1</p>
                <p class="second_p" >MI5</p>
            </li>
            <li>
                <p>2</p>
                <p class="second_p" >ABC</p>
            </li>
            <li>
                <P>3</P>
                <P class="second_p" >DEF</P>
            </li>
        </ul>
        <ul>
            <li>
                <p>4</p>
                <p class="second_p" >GHI</p>
            </li>
            <li>
                <p>5</p>
                <p class="second_p" >JKL</p>
            </li>
            <li>
                <P>6</P>
                <P class="second_p" >MNO</P>
            </li>
        </ul>
        <ul>
            <li>
                <p>7</p>
                <p class="second_p" >PQRS</p>
            </li>
            <li>
                <p>8</p>
                <p class="second_p" >TUV</p>
            </li>
            <li>
                <P>9</P>
                <P class="second_p" >WXYZ</P>
            </li>
        </ul>
        <ul>
            <li>
                <p>*</p>
                <p class="second_p" >MI5</p>
            </li>
            <li>
                <p>0</p>
                <p class="second_p" >ABC</p>
            </li>
            <li>
                <P>#</P>
                <P class="second_p" >DEF</P>
            </li>
        </ul>
    </div>
    <div class="right_call">
        <h3></h3>
        <img src="../images/contact.png" alt="contact">
    </div>
</div>