<div class="screen-music">
    <div class="header">
        <img src="../images/move.png" alt="move"><span class="text"><span class="medium">MUSIC PLAYER</span> Now Playing...</span>
    </div>
    <div class="title">Ashes To Ashes - David Bowie</div>
    <div class="time-bar"><span class="time-1">1:42</span><img src="../images/bar.png" alt="bar"><span class="time-2">4:07</span></div>
    <div class="control"><img class="change-song" src="../images/previous.png" alt=""><img class="play" src="../images/play.png" onclick="switchPlay();" alt="play"><img src="../images/pause.png" onclick="switchPlay();" style="    width: 65px;
    margin: 0 105px;" class="play pause hide" alt="play"><img class="change-song" src="../images/next.png" alt=""></div>
    <div class="option"><img src="../images/random.png" alt=""><img src="../images/repeat.png" alt=""></div>
</div>