<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tesla Project</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<header class="topbar">
    <div class="battery">
        <i class="fa fa-battery-3"></i>
        <p>82 %</p>
    </div>
    <p class="hour">10:46 AM</p>
    <img src="images/tesla-logo.png" alt="tesla-logo">
    <div class="network">
        <i class="fa fa-wifi"></i>
        <div class="carrier">
            <i class="fa fa-signal"></i>
            <p>3G</p>
        </div>
        <div class="weather">
            <i class="fa fa-cloud"></i>
            <p>22°C</p>
        </div>
    </div>
</header>

<div class="partial1">
    {{> partial1}}
</div>
</body>
</html>