<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tesla Project</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<header class="topbar">
    {{> header}}
</header>

<div class="partial1">
    {{> partial1}}
</div>
</body>
</html>