<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tesla Project</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<header>
	{{> header}}
</header>
   
<div class="big-screen">
    {{> partial1}}
</div>
<div class="small-screen top_left">

</div>
<div class="small-screen top_right">

</div>
<div class="small-screen bottom_left">

</div>
<div class="small-screen bottom_right">

</div>
<div class="bottom">
    {{> bottom}}
</div>
</body>
</html>