<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tesla Project</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<header>
	<div class="topbar">
	    <ul>
	    	<li><img src="../img/battery.png" alt="battery">&nbsp 82%</li>
	    	<li class="clock">10:46 AM</li>
	    	<li class="tesla_logo"><img src="../img/tesla_logo.png" alt="logo"></li>
	    	<li class="wifi"><img src="../img/wifi.png" alt="wifi"></li>
	    	<li class="reseau"><img src="../img/3g.png" alt="reseau">&nbsp 3G</li>
	    	<li class="meteo"><img src="../img/meteo.png" alt="">&nbsp 20°C</li>
	    </ul>
	</div>
</header>

<div class="partial1">
   
<div class="small-screen">
    {{> partial2}}
</div>
</body>
</html>