<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tesla Project</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<header>
	{{> header}}
</header>

<div class="partial1">
   
<div class="small-screen">
    {{> partial2}}
</div>
</body>
</html>