<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intro</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <video id="intro" width="1200" height="1920" autoplay>
        <source src="../videos/intro.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="touchingArea" style="position:absolute;width: 95px;height: 130px;top: 1483px;left: 560px;"></div>

    <script src="../js/jquery-1.12.1.min.js"></script>
    <script src="../js/app.js"></script>
</body>
</html>

